<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Remove Employee</title>
    <link rel="shortcut icon" href="../static/Images/crm.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/CSS/style.css">

</head>

<body>
    <header class="col-md-12">
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="{% url 'about_us' %}">About us</a>
                        <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
              </svg>
            Remove Employee</h1>
        <hr>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Choose Employee Id
            </button>
            <ul class="dropdown-menu ">
                {% for emp in emps %}
                <li><a class="dropdown-item" href="/remove_emp/{{emp.employee_id}}">{{emp.employee_id}}
                        {{emp.first_name}} {{emp.second_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        <a href="/all_emp" class="btn btn-primary" role="button">View all Employees</a>
        <a href="/add_emp" class="btn btn-primary" role="button">Add Employees</a>
        <a href="/filter_emp" class="btn btn-primary" role="button">Filter Employees</a>
        <a href="/admin" class="btn btn-primary" role="button">Admin</a>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>